.Input {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.Input__title {
    font-size: 16px;
    font-weight: 400;
    color: rgb(122, 122, 122);
    padding-bottom: 4px;
}

.Input__input {
    width: 420px;
    box-sizing: border-box;
    border: solid 1px #666666;
    border-radius: 3px;
    padding: 8px 16px;
    line-height: 1.5;
    font-size: 16px;
}

.Input__input:focus {
    border-color: #333333;
    outline: 0 none;
}