.Button {
    cursor: pointer;
    font-weight: 400;
    color: #c36;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    background-color: transparent;
    border: 1px solid #c36;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 3px;
    transition: all .3s;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
}

.Button:focus, .Button:hover {
    color: #fff;
    background-color: #c36;
    text-decoration: none;
}

.Button--disabled {
    opacity: .5;
    cursor: not-allowed;
}