.App {
  color: #282c34;
}

.App__content {
  display: flex;
}

.App__errors {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App__errors__error {
  padding-bottom: 8px;
  color: #990033;
}

.App__done {
  padding-top: 80px;
  color: #009933;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.App__title-text {
  padding-bottom: 16px;
  font-size: 16px;
  color: rgb(122, 122, 122);
  text-align: left;
}

.App__center-form {
  width: 260px !important;
  align-items: center !important;
  justify-content: center;
}