.App {
  text-align: center;
  color: #282c34;
  padding: 3rem 2rem;
}

.App__header {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}

.App__content {
  display: flex;
}

.App__form {
  padding-top: 3rem;
  padding-right: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.App__form__label {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.App__form__input {
  margin-left: 1rem;
  height: 1.5rem;
  width: 20rem;
  font-size: 1.2rem;
  color: #282c34;
}

.App__form__button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;

  color: #fff;
  background-color: #0096cc;
  background-image: linear-gradient(to bottom, #00a7e6 0%, #0096cc 100%);
  background-repeat: repeat-x;
  border-color: #0095ce;
  border-radius: 0.8rem;
  outline: none;

  transition: all 250ms;
}

.App__form__button:active {
  background-color: #009ed8;
  background-image: none;
  border-color: #00759f;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15) inset;
  opacity: 0.9;
  transform: scale(0.95);
}

.App__form__button:focus {
  border-color: #444;
  box-shadow: 0 0 1px #fff inset;
}

.App__form__button:hover {
  background-color: #1daee5;
  background-image: linear-gradient(to bottom, #1daee5 0%, #00a3df 100%);
  border-color: #00759f;
}

.App__form__button[disabled] {
  background-color: #0096cc;
  background-image: linear-gradient(to bottom, #00a7e6 0%, #0096cc 100%);
  border-color: #0095ce;
  opacity: 0.5;
}

.App__errors {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App__errors__error {
  padding-bottom: 0.5rem;
  color: #990033;
}

.App__done {
  padding-top: 2rem;
  color: #009933;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
}