.Form {
    padding: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 352px !important;
    height: fit-content;
    box-sizing: border-box;

    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%), 0px 1px 4px rgb(0 0 0 / 8%);
    background: #fff;
    border-radius: 4px;

    transition: all 1s ease;
}

.Form__result-text {
    padding-top: 16px;
    font-size: 18px;
    text-align: start;
    width: 320px;
    word-break: break-all;
}

.Form__result-text--error {
    color: #990033;
}

.Form__image-preview {
    width: 320px;
    padding-bottom: 16px;
}

.Form__title {
    color: rgb(122, 122, 122);
    width: 320px;
    text-align: left;
    padding-bottom: 16px;
    font-size: 16px;
}

.Form__text {
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: rgb(122, 122, 122);
}