.Form {
    padding: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 352px !important;
    height: fit-content;
    box-sizing: border-box;

    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%), 0px 1px 4px rgb(0 0 0 / 8%);
    background: #fff;
    border-radius: 4px;

    transition: all 1s ease;
}

.Form.Form-extended {
    width: fit-content !important;
    padding: 8px 16px !important;
    margin-right: 40px;
    margin-bottom: 40px;
}

.Form__container {
    display: flex;
    align-items: center;
}

.Form__result-text {
    padding-top: 16px;
    font-size: 18px;
    text-align: start;
    width: 320px;
    word-break: break-all;
}

.Form__result-text--error {
    color: #990033;
}

.Form__image-preview {
    width: 320px;
}

.Form__title {
    color: rgb(122, 122, 122);
    width: 320px;
    text-align: left;
    padding-bottom: 16px;
    font-size: 16px;
}

.Form__text {
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: rgb(122, 122, 122);
}

.Form__image {
    width: 320px;
    height: 320px;
    padding-right: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form__price {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 16px;
}

.Form__price__currency {
    color: rgb(122, 122, 122);
}

.Form__info {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 320px;
}
.Form__info__title {
    padding-bottom: 16px;
    font-size: 28px;
    text-align: left;
    font-family: 'Manrope', sans-serif;
}
.Form__info__warning {
    text-align: left;
    padding-bottom: 16px;
    font-size: 16px;
    color: rgb(122, 122, 122);
    font-family: 'Manrope', sans-serif;
}