.Form {
    padding: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 352px !important;
    height: fit-content;
    box-sizing: border-box;

    box-shadow: 0px 4px 16px rgb(0 0 0 / 8%), 0px 1px 4px rgb(0 0 0 / 8%);
    background: #fff;
    border-radius: 4px;

    transition: all 1s ease;
}

.Form.Form-extended {
    width: 1000px !important;
    height: fit-content !important;
    padding: 0 !important;
    box-shadow: none !important;
    margin: 0 auto;
}

.Form__container {
    display: flex;
    flex-direction: column;
}

.Form__result-text {
    padding-top: 16px;
    font-size: 18px;
    text-align: start;
    width: 320px;
    word-break: break-all;
}

.Form__result-text--error {
    color: #990033;
}

.Form__image-preview {
    max-width: 1000px;
    max-height: 750px;
}

.Form__title {
    color: rgb(122, 122, 122);
    width: 320px;
    text-align: left;
    padding-bottom: 16px;
    font-size: 16px;
}

.Form__text {
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: rgb(122, 122, 122);
}

.Form__image {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form__price {
    font-size: 38px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Form__price__value {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.Form__price__currency {
    color: rgb(122, 122, 122);
}
.Form__price__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 3px;
    height: 16px;
    padding: 1px;
    cursor: pointer;
    margin-left: 15px;
}
.Form__price__edit:hover {
    background: rgba(0,0,0,0.12);
}
.Form__price__edit:active {
    background: rgba(0,0,0,0.2);
}

.Form__info {
    width: fit-content;
    margin: 0 auto;
}
.Form__info__title {
    padding-bottom: 32px;
    font-size: 42px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}
.Form__info__warning {
    text-align: left;
    padding-bottom: 16px;
    font-size: 16px;
    color: rgb(122, 122, 122);
    font-family: 'Manrope', sans-serif;
}

.Form__setPrice {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.Form__setPrice .Form {
    margin: 0 !important;
}